/* Reinicio de estilos y configuración básica */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

/* Estilos del encabezado */
.header {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 5px; 
}

h1 {
    font-size: 2.5rem;  
}

.logo {
    height: 60px; 
    width: auto;
    display: block;
}

.title-newsnavigators {
    color:#BC955C;
}

.title-noticias {
    color:#98989A;
    text-align: center;
}

/* Estilos de la barra de navegación */
.navbar {
    background-color: #621132; 
    padding: 1rem;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: center; 
    flex-wrap: wrap; 
}

.nav-list li {
    margin: 0 15px;
}

.nav-list a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.2rem; 
    font-weight: bold;
}

.nav-list a:hover {
    color: #BC955C; 
    transition: color 0.3s ease;
}

/* Media Query para pantallas pequeñas */
@media (max-width: 600px) {
    .nav-list {
        flex-direction: column; 
        align-items: center; 
    }
    
    .nav-list a {
        font-size: 1rem; 
        margin: 5px 0; 
    }
}

/* Estilos generales de la tabla */
#news-table {
    width: 100%; 
    border-collapse: collapse; 
    margin-top: 20px; 
    text-align: left; 
}

/* Estilos para los encabezados de la tabla */
#news-table th {
    background-color: #621132; 
    color: #ffffff; 
    padding: 10px; 
    border-bottom: 2px solid #ffffff; 
}

/* Estilos para las celdas de la tabla */
#news-table td {
    padding: 10px; 
    border-bottom: 1px solid #ddd; 
    color: #333333; 
}

/* Estilo alternativo para filas */
#news-table tr:nth-child(even) {
    background-color: #98989A; 
}

/* Estilo para los enlaces en la tabla */
#news-table a {
    color: #3498DB; 
    text-decoration: none; 
}

#news-table a:hover {
    text-decoration: underline; 
}
