/* Reinicio de estilos y configuración básica */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #98989A;
}

/* Estilos del encabezado */
.header {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 5px; 
}

h1 {
    font-size: 2.5rem; 
    color: #FFFFFF; 
}

.logo {
    height: 60px; 
    width: auto;
    display: block;
}

/* Estilos de la barra de navegación */
.navbar {
    background-color: #9F2241; 
    padding: 1rem;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: center; 
    flex-wrap: wrap; 
}

.nav-list li {
    margin: 0 15px;
}

.nav-list a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.2rem; 
    font-weight: bold;
}

.nav-list a:hover {
    color: #BC955C; 
    transition: color 0.3s ease;
}

/* Media Query para pantallas pequeñas */
@media (max-width: 600px) {
    .nav-list {
        flex-direction: column; 
        align-items: center; 
    }
    
    .nav-list a {
        font-size: 1rem; 
        margin: 5px 0; 
    }
}
