<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script src="/static/script.js"></script>
    <title>NewsNavs</title>  
</head>
<h1>NewsNavs</h1>
<body>
    <nav class="navbar">
        <ul class="nav-list">
            <li><a href="/templates/index.html">INFORMACIÓN RELEVANTE</a></li>
            <li><a href="/templates/seguridad.html">SEGURIDAD</a></li>
            <li><a href="/templates/gobierno_mexico.html">GOBIERNO DE MÉXICO</a></li>
            <li><a href="/templates/genero_opinion.html">GÉNEROS DE OPINIÓN</a></li>
        </ul>
    </nav>
    <div class="container">
        
</body>
</html>